*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}
section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 30px;
}
section p{
    width: 80%;
    font-size: 1em;
}
section a{
    color: black;
}
#idea-section{
    background-color: #fbcab9;
}
#execution-section{
    background-color: rgba(116, 177, 230, 0.99);
}
#achievement-section{
    background-color: #65f4a4;
}
a{
    font-size: 2em;
}