body{
    margin: 2%;
}
header, section, footer{
    color: white;
    font-family:"Calibri Light", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    height: 60vh;
    background-color: #216aba;
    font-size: 40px;

}
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0;
}
section{
    height: 50vh;
    width: 32%;
    background-color: #164579;
    font-size: 26px;
}
footer{
    height: 95vh;
    background-color: #216aba;
    font-size: 40px;
}