* {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;
}

section {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 30px;
}
section p{
    width: 90%;
}
.top-section{
    background-color: #2ecc71;
    color: #222;
}
.bottom-section{
    background-color: #3498db;
    color: white;
}