@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');
*{
    margin: 0;
}
header, section, aside, footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    font-family: "Inter", sans-serif;
    font-size: 45px;
    align-items: center;
    font-weight: 400;
}

header{
    height: 20vh;
    background: #8D8484;
    color: black;
}

main{
    display: flex;
    height: 60vh;
}

footer{
    height: 20vh;
    background: #BDBDBD;
    color: black;
}

.main__contents section{
    height: 20vh;
    width: 73vw;
    color: #FFF;
}
.main__contents__content-1{
    background: #776969;
}
.main__contents__content-2{
    background: #643030;
}
.main__contents__content-3{
    background: #441818;
}
.main__spam aside{
    height: 30vh;
    width: 27vw;
    color: #FFF;
}
.main__spam-1{
    background: #937575;
}
.main__spam-2{
    background: #644C4C;
}