*{
    margin:0;
}
.grid{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1.1fr 1.2fr;
    grid-template-rows: 0.5fr 4fr 4fr 1fr;
    grid-template-areas:
    "header header header"
    "section-1 section-2 section-3"
    "section-1 section-2 section-4"
    "footer footer footer"
;
}
.grid header{
    grid-area: header;
    background: #d8d8d8;
}
.grid section:nth-child(2){
    grid-area: section-1;
    background: #A4A4A4;
}
.grid section:nth-child(3){
    grid-area: section-2;
    background: #C1C1C1;
}
.grid section:nth-child(4){
    grid-area: section-3;
    background: #7F7A7A;
}
.grid section:nth-child(5){
    grid-area: section-4;
    background: #6B6161;
}
.grid footer{
    grid-area: footer;
    background: #AFA9A9;
}